.Content {
  height: 100vh;

  .card {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
}
.containerWorldTime {
  border-radius: 10px;
}

.title {
  color: #ffffff;
  font-size: 62px;
  padding-bottom: 30px;
}

.error {
  position: absolute !important;
  bottom: 0;
  right: 50px;
}